body {
  font-family: "Helvetica Neue",Helvetica,sans-serif;
  font-weight: 400;
  background-color: #eee;
  color:rgba(51,51,51,1.0) /*#333*/;
}

.error {
  font-size: 1.2em;
  color: rgba(255,0,0,1.0);
}
